@import '~/styles/variables';
@import '~/styles/typography.css';

::selection {
	background: rgba(0, 0, 0, 0.99);
	color: rgb(255, 255, 255);
}
::-moz-selection {
	background: rgba(0, 0, 0, 0.99);
	color: rgb(255, 255, 255);
}

html {
	box-sizing: border-box;
}

body {
	-webkit-tap-highlight-color: transparent;
	background: var(--rgb-white);
}

/* layout */

.Container {
	position: relative;
}
