/* @font-face {
	font-family: 'Scto Grotesk A Regular';
	src: url('~static/fonts/Scto Grotesk A Regular.woff') format('woff'),
		url('~static/fonts/Scto Grotesk A Regular.eot') format('eot');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Scto Grotesk A Regular Italic';
	src: url('~static/fonts/Scto Grotesk A Regular Italic.woff') format('woff'),
		url('~static/fonts/Scto Grotesk A Regular Italic.eot') format('eot');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
} */

:root {
	/* fonts */
	--font-regular: -apple-system, BlinkMacSystemFont, sans-serif;
	--font-italic: -apple-system, BlinkMacSystemFont, sans-serif;

	/* variables */
	--vpMin: 700;
	--vpMax: 2000;
	--fsMin: 10;
	--fsMax: 10;
	--baseUnit: calc(
		(var(--fsMin) * 1px) + (var(--fsMax) - var(--fsMin)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);

	/* sizes */

	/* M 01 */
	--vpMinM01: 320;
	--vpMaxM01: 700;
	--fsMinM01: 16;
	--fsMaxM01: 18;
	--lhMinM01: 20;
	--lhMaxM01: 22;
	--font-M01: calc(
		(var(--fsMinM01) * 1px) + (var(--fsMaxM01) - var(--fsMinM01)) *
			(100vw - (var(--vpMinM01) * 1px)) /
			(var(--vpMaxM01) - var(--vpMinM01))
	);
	--line-M01: calc(
		(var(--lhMinM01) * 1px) + (var(--lhMaxM01) - var(--lhMinM01)) *
			(100vw - (var(--vpMinM01) * 1px)) /
			(var(--vpMaxM01) - var(--vpMinM01))
	);
	--letter-M01: -0.015rem;

	/* 01 */
	--fsMin01: 18;
	--fsMax01: 20;
	--lhMin01: 22;
	--lhMax01: 26;
	--font-01: calc(
		(var(--fsMin01) * 1px) + (var(--fsMax01) - var(--fsMin01)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--line-01: calc(
		(var(--lhMin01) * 1px) + (var(--lhMax01) - var(--lhMin01)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--letter-01: -0.02rem;

	/* M 02 */
	--vpMinM02: 320;
	--vpMaxM02: 700;
	--fsMinM02: 32;
	--fsMaxM02: 36;
	--lhMinM02: 32;
	--lhMaxM02: 36;
	--font-M02: calc(
		(var(--fsMinM02) * 1px) + (var(--fsMaxM02) - var(--fsMinM02)) *
			(100vw - (var(--vpMinM02) * 1px)) /
			(var(--vpMaxM02) - var(--vpMinM02))
	);
	--line-M02: calc(
		(var(--lhMinM02) * 1px) + (var(--lhMaxM02) - var(--lhMinM02)) *
			(100vw - (var(--vpMinM02) * 1px)) /
			(var(--vpMaxM02) - var(--vpMinM02))
	);
	--letter-M02: -0.1rem;

	/* 02 */
	--fsMin02: 50;
	--fsMax02: 68;
	--lhMin02: 50;
	--lhMax02: 68;
	--font-02: calc(
		(var(--fsMin02) * 1px) + (var(--fsMax02) - var(--fsMin02)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--line-02: calc(
		(var(--lhMin02) * 1px) + (var(--lhMax02) - var(--lhMin02)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--letter-02: -0.2rem;

	/* M 03 */
	--vpMinM03: 320;
	--vpMaxM03: 700;
	--fsMinM03: 32;
	--fsMaxM03: 36;
	--lhMinM03: 32;
	--lhMaxM03: 36;
	--font-M03: calc(
		(var(--fsMinM03) * 1px) + (var(--fsMaxM03) - var(--fsMinM03)) *
			(100vw - (var(--vpMinM03) * 1px)) /
			(var(--vpMaxM03) - var(--vpMinM03))
	);
	--line-M03: calc(
		(var(--lhMinM03) * 1px) + (var(--lhMaxM03) - var(--lhMinM03)) *
			(100vw - (var(--vpMinM03) * 1px)) /
			(var(--vpMaxM03) - var(--vpMinM03))
	);
	--letter-M03: -0.1rem;

	/* 03 */
	--fsMin03: 28;
	--fsMax03: 42;
	--lhMin03: 28;
	--lhMax03: 42;
	--font-03: calc(
		(var(--fsMin03) * 1px) + (var(--fsMax03) - var(--fsMin03)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--line-03: calc(
		(var(--lhMin03) * 1px) + (var(--lhMax03) - var(--lhMin03)) *
			(100vw - (var(--vpMin) * 1px)) / (var(--vpMax) - var(--vpMin))
	);
	--letter-03: -0.1rem;
}

html {
	font-size: 10px;

	@media (--width-tablet-01) {
		font-size: var(--baseUnit);
	}
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: var(--font-regular);
	font-weight: 400;
	font-size: var(--font-01);
	line-height: var(--line-01);
	letter-spacing: var(--letter-01);
	font-feature-settings: 'ss04';
	color: var(--clr-white);
}

.text--italic,
em {
	font-family: var(--font-italic);
	font-style: italic;
}

.text-00 {
	font-family: var(--font-regular);
	font-size: var(--font-M00);
	line-height: var(--line-M00);
	letter-spacing: var(--letter-M00);

	@media (--width-tablet-01) {
		font-size: var(--font-00);
		line-height: var(--line-00);
		letter-spacing: var(--letter-00);
	}

	@media (--width-desktop-04) {
		font-size: calc(var(--fsMax00) * 1px);
		line-height: calc(var(--lhMax00) * 1px);
	}
}

.text-01,
.blockcontent.text-02 .text--small {
	font-family: var(--font-regular);
	font-size: var(--font-M01);
	line-height: var(--line-M01);
	letter-spacing: var(--letter-M01);

	@media (--width-tablet-01) {
		font-size: var(--font-01);
		line-height: var(--line-01);
		letter-spacing: var(--letter-01);
	}

	@media (--width-desktop-04) {
		font-size: calc(var(--fsMax01) * 1px);
		line-height: calc(var(--lhMax01) * 1px);
	}
}

.text-02 {
	font-family: var(--font-regular);
	font-size: var(--font-M02);
	line-height: var(--line-M02);
	letter-spacing: var(--letter-M02);

	@media (--width-tablet-01) {
		font-size: var(--font-02);
		line-height: var(--line-02);
		letter-spacing: var(--letter-02);
	}

	@media (--width-desktop-04) {
		font-size: calc(var(--fsMax02) * 1px);
		line-height: calc(var(--lhMax02) * 1px);
	}
}

.text-03 {
	font-family: var(--font-regular);
	font-size: var(--font-M03);
	line-height: var(--line-M03);
	letter-spacing: var(--letter-M03);

	@media (--width-tablet-01) {
		font-size: var(--font-03);
		line-height: var(--line-03);
		letter-spacing: var(--letter-03);
	}

	@media (--width-desktop-04) {
		font-size: calc(var(--fsMax03) * 1px);
		line-height: calc(var(--lhMax03) * 1px);
	}
}
