:root {
	--clr-black: 0 0 0;
	--rgb-black: rgb(var(--clr-black));
	--clr-white: 255 255 255;
	--rgb-white: rgb(var(--clr-white));
	--clr-accent: 0 81 255;
	--rgb-accent: rgb(var(--clr-accent));

	--preview-banner-height: 43px;
	--header-height: 4rem;
}


@media (--w-desktop-1) {
	:root {
		--header-height: 6rem;
	}
}