:root {
	/* Brand colors */
	/* --brand-primary: #4629c9; */
	--brand-primary--inverted: black;
	/* --brand-secondary: #827ed1; */
	--brand-secondary--inverted: #ccc;
	/* Typography */
	--text-color: #222;
	/* Main Navigation */
	--main-navigation-color: white;
	/* --main-navigation-color--inverted: white; */

	--gray-base: #777;

	/* Focus */
	/* --focus-color: #bfb1ff; */
}

/* header */

:global(#sanity > div > div > div) {
	border-bottom: 1px solid rgba(119, 119, 119, 0.4);
}

/* Netlify Widget */

:global(.NetlifyWidget_container_McXif button:hover span) {
	background-color: #2276fc;
	border-color: #2276fc;
	cursor: pointer;
}
